body {
  background-color: #fff;
  color: #333;
  text-align: center;
}

.calculator {
  background-color: #fff;
  color: #333;
  margin: 40px;
  padding: 10px;
  border: 5px solid salmon;
}

.output {
  padding-top: 20px;
}

input[type=text] {
  width: 40px;
  background-color: #fefefe;
  border: 1px solid #333;
  padding: 5px;
}